# macOS 系统文件
.DS_Store
.AppleDouble
.LSOverride

# 缩略图
._*

# 文件系统元数据
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# 目录配置
AppleDB
AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
